.mainNewsWrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.descriptionWrapper {
    width: 543px;
}

.mainNewsFooter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mainNewsImage {
    width: 457px;
}